{% extends 'catalog/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <td class="w-25">Россия</td>
                        <td>Санкт-Петербург</td>
                    </tr>
                    <tr>
                        <td class="w-25">ИНН</td>
                        <td>9111419632</td>
                    </tr>
                    <tr>
                        <td class="w-25">Адрес</td>
                        <td>Лиговский пр-т 135Е</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
   <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
            </div>
            <div class="card-body">
                <form method="post" action="" class="form-floating">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name">Имя</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone">Телефон</label>
                        <input type="text" name="phone" class="form-control" id="phone" placeholder="Контактный телефон" required>
                    </div>
                    <div class="mb-3">
                        <label for="message">Сообщение</label>
                        <textarea type="text" name="message" class="form-control" id="message"></textarea><br>
                        <button type="submit" class="btn btn-primary mb-3">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}